<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tech Blog</title>

    <link rel="stylesheet" href="/css/normalize.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/{{style}}" />

  </head>
  <body>
    <header>
      <div class="header-content">
        <nav>
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          {{#if loggedIn}}
            <button class="nav-btn" id="logout">Logout</button>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </nav>
        <div class="logo">
          <h1>The Tech Blog</h1>
        </div>
      </div>
    </header>
    <div class="main-content">
      {{{body}}}
    </div>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>