<form id="sign-up-form">
  <div class="container">
    <label for="name">Please enter your username:</label>
    <input type="text" name="name" id="username" />
  </div>
  <div class="container">
    <label for="password">Enter your password:</label>
    <input type="text" name="password" id="password" />
  </div>
  <button type="submit">Submit</button>
</form>
<p>
  Already have a password?
  <a href="/login">Sign in here!!!</a>
</p>

<script src="/js/createUser.js"></script>