<form id="login-form">
  <div class="container">
    <label for="name">Please enter your username:</label>
    <input type="text" name="name" id="username" />
  </div>
  <div class="container">
    <label for="password">Enter your password:</label>
    <input type="password" name="password" id="password" />
  </div>
  <button type="submit">Submit</button>
  <!-- change type to password -->
</form>
<p>
  Don't have a user name and password?
  <a href="/createUser">Sign up here!!!</a>
</p>

<script src="/js/login.js"></script>