:root {
  --primary: #391c08;
  --secondary: #faf1ea;
  --unselected: #a7a7a7;
}

/* override defaults for anchor tags */
a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 90%;
  background-color: var(--secondary);
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  background: var(--primary);
  padding-bottom: 1rem;
}

.header-content {
  max-width: 42.5rem;
  padding: 1rem 2.5rem;
}

nav {
  display: flex;
  justify-content: space-between;

  border: 2.5rem;
  color: var(--secondary);
  margin: 0.5rem;
}

/* .btn, */
nav a {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.nav-btn {
  margin-bottom: 1rem;
  color: var(--secondary);
  background: var(--primary);
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  align-content: center;

  background: var(--secondary);
  color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem var(--unselected);
}

h1 {
  line-height: inherit;
  margin: 0 0 0.5rem;
  font-size: 3.75rem;
}

.main-content {
  margin-top: 1rem;
}

@media screen and (min-width: 456px) {
  .main-content {
    min-width: 95%; /* this adds the width, but ignores the padding */
    max-width: 100%; /* this adds the padding but ignores the width */
    padding: 0 2.5rem;
  }
}
